// about----------------------------------------------------------
.about {
  position: relative;
  padding-top: 50px;
  padding-bottom: 30px;
}
.about__title {
  position: absolute;
  font-size: 70px;
  transform: translate(-45px, 8px);
  text-transform: uppercase;
  mix-blend-mode: soft-dark;
}
.about__inner {
  border-bottom: 1px solid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.about__item {
  background: #ffffff;
  border: 1px solid;
  background: var(--bg-color);
}
.about__item-1 {
  grid-column: 1/2;
  grid-row: 2/7;
  opacity: 0;
}
.about__item-1._active {
  animation: about-item-1 0.8s 0.2s forwards;
}
@keyframes about-item-1 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  75% {
    transform: translate3d(-15px, 0, 0);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.about__item-2 {
  grid-column: 2/5;
  grid-row: 1/7;
  opacity: 0;
}
.about__item-2._active {
  animation: about-item-2 0.8s;
  opacity: 1;
}
@keyframes about-item-2 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  75% {
    transform: translate3d(-15px, 0, 0);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.about__item-3 {
  grid-column: 1/4;
  grid-row: 7/11;
  opacity: 0;
  padding-bottom: 60px;
}
.about__item-3._active {
  animation: about-item-3 0.8s 0.1s forwards;
}
@keyframes about-item-3 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  75% {
    transform: translate3d(15px, 0, 0);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.about__item-4 {
  grid-column: 3/5;
  grid-row: 7/11;
  opacity: 0;
}
.about__item-4._active {
  animation: about-item-4 0.8s 0.2s forwards;
}
@keyframes about-item-4 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  75% {
    transform: translate3d(15px, 0, 0);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.about__item-5 {
  grid-column: 4/5;
  grid-row: 7/11;
  opacity: 0;
}
.about__item-5._active {
  animation: about-item-5 0.8s 0.5s forwards;
}
@keyframes about-item-5 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    transform: translate3d(0, 0, 0);
  }

  75% {
    transform: translate3d(15px, 0, 0);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }
  95% {
    transform: translate3d(3px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.scills {
  padding: 12px;
}
.scills__title {
  text-align: center;
  font-size: 22px;
}
.scills__list {
  padding-left: 20px;
  li {
    list-style: none;
    padding: 1px 2px;
  }
  .scills__item {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 5px;
  }
  .scills__subitem {
    font-size: 1.15rem;
    font-weight: 500;
    padding-left: 10px;
  }
}
.general {
  padding: 45px 30px;
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}

//contacts
.contactss {
  text-align: center;
  padding: 15px;
  &__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__item{
    margin-top: 15px;
    position: relative;
    a{
      color: var(--color-text);
      display: inline-block;
    }
  }
}

// end-about-------------------------
// form-------------------------------
.form {
  padding: 0 20px;
  position: relative;
}
.form__body {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.411) url(../img/loading.gif) center 50% no-repeat;
    opacity: 0;
    visibility: hidden;
  }
}
.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}
.form__title {
  font-size: 30px;
  text-align: center;
}
.form__item {
  margin-bottom: 10px;
}
.form__label {
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  position: relative;
}
.form__input {
  height: 35px;
  width: 100%;
  border-radius: 3px;
  border: none;
  padding: 0 20px;
  font-size: 18px;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  background: var(--bg-color);
  &[type="file"]{
    display: none;
  }
}
textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
  outline: none;
  font-size: 18px;
  position: relative;
}
.form__button {
  position: absolute;
  left: 50%;
  bottom: -55px;
  transform: translateX(-50%);
  display: inline-flex;
  min-height: 40px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 3px;
  border: 1px solid;
  background: transparent;
  color: #373841;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  transition: .3s;
  cursor: pointer;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  background: var(--bg-color);
  &:hover{
    background: var(--hover-color);
    color: var(--bg-color);
  }
}
.just-validate-error-label{
  position: absolute;
  top: -20px;
  font-weight: 400;
  font-size: 16px;
}
.form__popup{
  max-width: 500px;
  height: 300px;
  border-radius: 5px;
  border: 2px solid $main-color;
  width: 100%;
  background: rgb(255, 255, 255);
  z-index: 999;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p{
    color: var(--color-text);
    font-size: 30px;
    margin-bottom: 20px;
  }
  &-overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.726);
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    &.d-block ~ body{
      overflow: hidden;
    }
  }
}