.new-year {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 60px;
  top: 10px;
  @media (max-width: 960px) {
    height: 60px;
    width: 60px;
    right: 35px;
    top: 5px;
}
}
.tree__wrapper {
  height: 100px;
  position: absolute;
  right: 75px;
  top: 10px;
  img {
    height: 100%;
  }
  @media (max-width: 960px) {
    height: 50px;
    right: 48px;
    top: 5px;
}
}
p {
  color: #aca4a4;
  line-height: 25px;
  font-size: 20px;
  padding: 10px;
}
strong {
  color: #fff;
}
.btn {
  display: inline-block;
  color: #fff;
  padding: 10px;
  background: #57d467;
  margin-left: 50px;
  border-radius: 2px;
  cursor: pointer;
  z-index: 1;
}
.async-title {
  color: #9de047;
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}
.async-elem {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  animation: firework 2s linear forwards;
}
@keyframes firework {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0;
    transform: translate(-50%, -50%);
  }
}
.counter {
  display: inline-block;
  width: 100px;
  height: 20px;
  background: #fff;
}
.stop-audio{
  position: fixed;
  top: 120px;
  right: 10px;
  width: 57px;
  height: 57px;
  background: rgb(1, 7, 78);
  border: none;
  padding: 3px;
  font-size: 12px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  display: none;
  transition: .3s;
  &:hover{
    background: rgb(207, 98, 203);
    color: rgb(7, 22, 70);
  }
}
.d-block{
  display: block;
}
