// portfolio--------------------------------------------------------------
.portfolio {
  border-bottom: 1px solid;
  padding-top: 30px;
  border-top: 1px solid;
  position: relative;
}
.portfolio__title {
  font-size: 70px;
  transform: translateX(40px);
  text-transform: uppercase;
  mix-blend-mode: soft-dark;
  color: var(--color-text);
}
.portfolio__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.portfolio__item {
  border: 1px solid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 5px;
  height: 365px;
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.portfolio__item-1 {
  mix-blend-mode: var(--mix-blend-mode);
  opacity: 0;
  background-position: 0 0;
  a {
    background-image: url(../img/portfolio/ag.jpg);
  }
}
.portfolio__wrapper._active {
  .portfolio__item-1 {
    animation: portfolio__item-1 0.5s 0.4s forwards;
  }
}

@keyframes portfolio__item-1 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    transform: translate(0, -3000px);
  }

  60% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(0, -15px);
  }

  90% {
    transform: translate(0, 0);
  }
  95% {
    transform: translate(0, -3px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.portfolio__item-2 {
  opacity: 0;
  a {
    background-image: url(../img/portfolio/clusterfloor.jpg);
    background-position: right 0;
  }
}
.portfolio__wrapper._active {
  .portfolio__item-2 {
    animation: portfolio__item-2 0.5s 0.5s forwards;
  }
}
@keyframes portfolio__item-2 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    transform: translate(0, -3000px);
  }

  60% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(0, -15px);
  }

  90% {
    transform: translate(0, 0);
  }
  95% {
    transform: translate(0, -3px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.portfolio__item-3 {
  opacity: 0;
  // mix-blend-mode: hard-light;
  a {
    background-image: url(../img/portfolio/axlab.jpg);
  }
}
.portfolio__wrapper._active {
  .portfolio__item-3 {
    animation: portfolio__item-3 0.5s 0.6s forwards;
  }
}
@keyframes portfolio__item-3 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    transform: translate(0, -3000px);
  }

  60% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(0, -15px);
  }

  90% {
    transform: translate(0, 0);
  }
  95% {
    transform: translate(0, -3px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.portfolio__item-4 {
  opacity: 0;
  a {
    background-image: url(../img/portfolio/morinfo.jpg);
  }
}
.portfolio__wrapper._active {
  .portfolio__item-4 {
    animation: portfolio__item-4 0.5s 0.7s forwards;
  }
}
@keyframes portfolio__item-4 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    transform: translate(0, -3000px);
  }

  60% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(0, -15px);
  }

  90% {
    transform: translate(0, 0);
  }
  95% {
    transform: translate(0, -3px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.portfolio__item-5 {
  opacity: 0;
  a {
    background-image: url(../img/portfolio/solid.jpg);
  }
}
.portfolio__wrapper._active {
  .portfolio__item-5 {
    animation: portfolio__item-5 0.6s 0.3s forwards;
  }
}
@keyframes portfolio__item-5 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    transform: translate(0, -3000px);
  }

  60% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(0, -15px);
  }

  90% {
    transform: translate(0, 0);
  }
  95% {
    transform: translate(0, -3px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.portfolio__item-6 {
  opacity: 0;
  a {
    background-image: url(../img/portfolio/hadgehogs.jpg);
  }
}
.portfolio__wrapper._active {
  .portfolio__item-6 {
    animation: portfolio__item-6 0.6s 0.2s forwards;
  }
}
@keyframes portfolio__item-6 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    transform: translate(0, -3000px);
  }

  60% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(0, -15px);
  }

  90% {
    transform: translate(0, 0);
  }
  95% {
    transform: translate(0, -3px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.portfolio__item-7 {
  opacity: 0;
}
.portfolio__wrapper._active {
  .portfolio__item-7 {
    animation: portfolio__item-7 0.6s 0.1s forwards;
  }
}
@keyframes portfolio__item-7 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    transform: translate(0, -3000px);
  }

  60% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(0, -15px);
  }

  90% {
    transform: translate(0, 0);
  }
  95% {
    transform: translate(0, -3px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.portfolio__item-8 {
  opacity: 0;
}
.portfolio__wrapper._active {
  .portfolio__item-8 {
    animation: portfolio__item-8 0.6s forwards;
  }
}
@keyframes portfolio__item-8 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    transform: translate(0, -3000px);
  }

  60% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(0, -15px);
  }

  90% {
    transform: translate(0, 0);
  }
  95% {
    transform: translate(0, -3px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

// end-portfolio-----------------------------
