$main-bg: #fff;
// $main-color: #1fd0f0;
// $main-color: #04D7DF;
//$main-color: #B721EE;
// #25ECF0 крутой цвет
// #0CECF4 тоже
// #21F3B4 тоже
$main-color: #373841;
$main-font: #0a0a0a;
// fill: #00ffb3;
$section-border: rgb(159, 32, 170);
$button-to-top-color: #09e3eb;


:root,
[data-theme=default] {
  --color-text: #373841;
  --bg-color: #ffffff;
  --color-transparent: transparent;
  --mix-blend-mode: multiply;
  --hover-color: #373841;
}

@supports (--css: variables) {
  [data-theme=dark] {
    --color-text: #ffffff;
    --bg-color: #373841;
    --color-transparent: transparent;
    --mix-blend-mode: difference;
    --hover-color: #ffffff;
  }
}